.idea
.vs
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-test
.localhistory

Session.vim
Sessionx.vim

*~
~$*
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.LSOverride
.DS_Store
Thumbs.db
ethumbs.db
ethumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN

[._]*.s[a-v][a-fh-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

*.lnk
*.log
*.dmg
*.app
*.apk
*.cab
*.msi
*.msix
*.msm
*.msp
*.tgz
*.tar.gz
*.appx
*.appxbundle
*.appxupload
*.nupkg
*.snupkg

[Cc]ache/
[Tt]mp/
[Tt]emp/
[Ll]og/
[Ll]ogs/

.[Cc]ache/
.[Tt]mp/
.[Tt]emp/
.[Ll]og/
.[Ll]ogs/

*.[Cc]ache
*.[Tt]mp
*.[Tt]emp
*.[Ll]og
*.[Bb]ak
*.[Oo]ld

.env
.env.*.local
.grunt
.npm
.eslintcache
.stylelintcache
.node_repl_history
.parcel-cache
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

*.pid
*.seed
*.pid.lock
*.tsbuildinfo

vendor
composer.phar
bower_components
node_modules

*.aps
*.ncb
*.opendb
*.opensdf
*.sln.iml
*.stackdump
*.userprefs
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.build.csdef
*.DotSettings.user
*.nuget.props
*.nuget.targets
*.[Pp]iblish.xml
*.azurePubxml
*.pubxml
*.publishproj
*.coverage
*.coveragexml

bld/
csx/
x86/
x64/
[Dd]ebug/
[Dd]ebugPublic/
[Dd]evelopment/
[Rr]elease/
[Rr]eleases/
[Pp]ublish/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Aa]rtifacts/
[Aa]pp[Pp]ackages/
[Bb]undle[Aa]rtifacts/
[Pp]ublish[Ss]cripts/

**/[Pp]ackages/*
!**/[Pp]ackages/build/
_ReSharper*/
*.[Rr]e[Ss]harper

project.lock.json
project.fragment.lock.json
Package.StoreAssociation.xml
